@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');


.newsSec{
  background-image: url("Layer.jpg");
width: 100%;
/* height: 70vh; */

background-position: center;
position: relative;

background-repeat: no-repeat;
}
.newsSec .shp-social-icons {
  justify-content: center;
}
.shp-social-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.shp-social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin: 0 10px 3px 0;
  z-index: 1;
  position: relative;
}
.shp-social-icons a>svg {
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  fill:rgb(125, 143, 179);
}

.shp-social-icons li a:hover::after {
  box-shadow: inset 0 0 0 1px rgb(96, 186, 190);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.shp-social-icons a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: inset 0 0 0 35px white;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}
.shp-social-icons a:hover>svg {
  transform: rotate( 360deg);
} 
.shp-social-icons a:hover>svg path {
  fill: rgb(96, 186, 190);
}
